@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*, a , ul, ol{
  box-sizing: border-box;
  list-style: none;
  /*text-decoration: none;*/
}

.jolly-lodger-regular {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 50px;
    font-size: 5rem;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

:root{
    --1: #FFD803;
    --2: #2D334A;
    --3: #BAE8E8;
    --4: #272343;
    --5: #F1F333;
    --6: #23A094;
    --7: #E2442F;
    --8: #FFFFFE;
    --9: #FF90E8;
    --10: #000000;
    --11: #9747FF;
}

.custom-button-1{
  background-color: var(--10);
  color: var(--3);
  padding: 20px 45px;
}
.custom-button-1:hover{
  background-color: var(--9);
    color: var(--10);
  transition: 0.5s;
}



.custom-button-2{
  background-color: var(--10);
  color: var(--8);
  padding: 20px 45px;
    border: none;
}
.custom-button-2:hover{
  background-color: var(--1);
  color: var(--8);
  transition: 0.5s;
}


.custom-button-3{
  background-color: var(--1);
  color: var(--10);
  padding: 20px 45px;
  border: 2px solid var(--10);
}
.custom-button-3:hover{
  box-shadow: 5px 5px 0px -1px var(--10);
  color: var(--10);
  transition: 0.3s;
}


/*//////////////////////////////////////////*/

.w_10{
    width: 15%;
}

.navbar-font{
    font-size: 23px;
}

.white-font-color{
    color: var(--3);
}
.black-font-color{
    color: var(--10);
}


.hover_underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/*/////////////////////////////////*/
.bg-yallow{
    background-color: var(--1);
}

.bg-clove{
    background-color: var(--9);
}
.bg-blue-light{
    background-color: var(--6);
}
.bg-blue{
    background-color: var(--11);
}

.bg-dark-cos{
    background-color: var(--10);
}


/*///////////////////////////*/

.svg-10{
    width: 50px;
}

/*//////////////////////////*/

.box{
    width: 25px;
    height: 50px;
    background-color: var(--10);
    border-radius: 25px;
    position: relative;
}

.circle{
    position: absolute;
    background-color: var(--8);
    width: 13px;
    height: 13px;
    border-radius: 100%;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 100% {
        top: 5px;
    }
    50% {
        top: 30px;
    }
}


.social_side{
    position: fixed;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);

}

::placeholder{
    color: var(--10) !important;
}
